<!doctype html>
<html lang="nb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="https://static.finncdn.no/_c/spaden/v8.2.10/favicons/favicon.ico">
    <title>FINN.no – Mulighetenes marked</title>
    <link rel="dns-prefetch" href="https://images.finncdn.no">
    <link rel="preconnect" href="https://images.finncdn.no">
    <link rel="stylesheet" href="https://static.finncdn.no/_c/spaden/v8.2.5/spaden.min.css">
    <link rel="preload" href="https://static.finncdn.no/_c/polyfill/v1.2.2/polyfills.js" as="script">
    <meta name="description" content="Skal du kjøpe eller selge, stort eller smått, så er FINN.no stedet. Vi er der for deg når du skal selge hytta di, finne en pent brukt sofa, fly billigst mulig til Praha, eller finne drømmebilen." >
    <link rel="canonical" href="https://www.finn.no/">
    <meta property="og:site_name" content="FINN.no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FINN.no - Mulighetenes marked">
    <meta property="og:description" content="Skal du kjøpe eller selge, stort eller smått, så er FINN.no stedet. Vi er der for deg når du skal selge hytta di, finne en pent brukt sofa, fly billigst mulig til Praha, eller finne drømmebilen.">
    <meta property="og:url" content="https://www.finn.no/">
    <meta property="og:image" content="https://www.finn.no/assets/finn-logo-large.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@FINN_no">
    <meta name="apple-itunes-app" content="app-id=526541908,affiliate-data=pt=295309&amp;ct=smart-app-banner">
    <meta name="FINN.site" content="www.finn.no">
    <link media="all" rel="stylesheet" type="text/css" href="https://static.finncdn.no/_c/spaden/v8.2.5/spaden.min.css">
</head>
<body class="no-focus-ring">
<a href="#first-market-link" class="skiplink">Gå til markeder</a>
{{{podlets.topbar}}}
{{{podlets.banner}}}
<div class="container bg-ice pbm">
    <div class="page">
        <div id="broadcast"></div>
        <div class="line overflowify cf">
            <div class="unit r-size2of3">
                <div class="mod shadow">
                    <div class="inner">
                        <div class="bd inlineblockify overflowify r-size1of1">
                            {{{podlets.globalSearch}}}
                        </div>
                    </div>
                </div>
                {{{podlets.userSearches}}}
                {{{podlets.marketIcons}}}
            </div>

            <div class="unit r-size1of3">
                <div class="mod">
                    <div class="inner">
                        <div class="bd">
                            <!-- New content here -->
                            {{{podlets.example}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{{podlets.recommendations}}}
        <span class="hidden" data-ctrl="performance-timing"></span>
    </div></div>
{{{podlets.footer}}}
<script src="https://static.finncdn.no/_c/polyfill/v1.2.2/polyfills.js"></script>
<script src="https://acdn.adnxs.com/ast/static/0.7.4/ast.js" defer></script>
<script src="https://d3im43qa7l2icm.cloudfront.net/schad.js" defer></script>
<script src="https://static.finncdn.no/_c/common-browserbundle/v1.6.1/main.min.js" defer></script>
<script src="https://static.finncdn.no/_c/analytics/v19.9.2/analytics.min.js" defer></script>
<script src="https://jssdk.pulse.schibsted.com/autoTrackerFinn.min.js" defer></script>
<script src="https://d57hyau7p492u.cloudfront.net/autoSegment.min.js" defer></script>
<script src="https://static.finncdn.no/_c/cookie-whitelist/v1.0.5/clean.min.js" defer></script>
<script>
    (function() {
        document.body.addEventListener('keydown', handleKeydown);
        function handleKeydown(event) {
            if (event.keyCode == 9 /* Tab */) {
                document.body.classList.remove('no-focus-ring');
                document.body.removeEventListener('keydown', handleKeydown);
            }
        }
    })();
</script>


<script>
    window.FINN = window.FINN || {};
    window.FINN.useTrackJs = ${useTrackJs};
</script>

<script defer type="text/javascript" src="https://static.finncdn.no/_podium-assets/063193a0c77ad476439e5c3b2d6d1a358bf5622a5a88f660787700792f37e6f5.js"></script>
</body>
</html>