<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="assets/grid.css" media="all" rel="stylesheet" />
    {{#each css}}
        <link href="{{this}}" media="all" rel="stylesheet" />
    {{/each}}
    {{#each js}}
        <script src="{{this}}" defer></script>
    {{/each}}
    <title>{{title}}</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            {{{podlets.header}}}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{{podlets.menu}}}
        </div>
        <div class="col-8">
            {{{podlets.content}}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{{podlets.footer}}}
        </div>
    </div>
</div>

</body>
</html>
